.item{
	float: left;
	width: 240px;
	height: 240px;
	margin-left: 40px;
	margin-bottom: 20px;
	background-size: cover;
	background: #1c252c;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: inset 0 0 1px 230px rgba(0,0,0,0.6), inset 0 0 0 0px #1c252c;
	transition: all 0.5s ease-in;
	transition: box-shadow 400ms ease-in-out;
	/* Safari/Chrome, other WebKit */
	-webkit-border-radius: 50%;
	-webkit-box-shadow: inset 0 0 1px 230px rgba(0,0,0,0.6), inset 0 0 0 0px #1c252c;
	-webkit-transition: box-shadow 400ms ease-in-out;
 /* Firefox, other Gecko */
	-moz-border-radius: 50%;
	-moz-box-shadow: inset 0 0 1px 230px rgba(0,0,0,0.6), inset 0 0 0 0px #1c252c;
	-moz-transition: box-shadow 400ms ease-in-out;
	 /* Opera/IE 8+ */
	-o-transition: box-shadow 400ms ease-in-out;
	-ms-transition: box-shadow 400ms ease-in-out;
}
.item:hover  {
	opacity: 5;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	border-radius:0%;
	border-image: 30px;
	image-rendering: optimizeSpeed;
	box-shadow: inset 0 0 0 0 rgba(0,0,0,0.6), inset 0 0 0 0px #1c252c, 0 0 10px rgba(0,0,0,0.3);
}

.pic1{
	background: url('image/logo2.jpg') no-repeat;
}
.pic2{
	background: url('image/T1.jpg') no-repeat;
}
.pic3{
	background: url('image/44.jpg') no-repeat;
}
.pic4{
	background: url('image/girl2.jpg') no-repeat;
}
.pic5{
	background: url('image/teacher.jpg') no-repeat;
}
.pic6{
	background: url('image/5.jpg') no-repeat;
}
.pic7{
	background: url('image/6.jpg') no-repeat;
}
.pic8{
	background: url('image/7.jpg') no-repeat;
}
.pic9{
	background: url('image/8.jpg') no-repeat;
}
.pic10{
background: url('image/BloodImage_5.jpg') no-repeat;
}